@mixin ellipsis($lines: null) {
  @if ($lines) {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    text-overflow: ellipsis;
    word-wrap: normal;
  }

  @else {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
  }
}

@mixin variousWidth {
  &--half {
    width: 50%;
  }

  &--quarter {
    width: 25%;
  }
}

@mixin flexBox($align: normal, $justify: normal) {
  display: flex;
  align-items: unquote($align);
  justify-content: unquote($justify);
}
